
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongod</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, molestiae nostrum? Pariatur ullam ratione quaerat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore porro repudiandae nulla voluptatibus non provident fugit sed totam nisi perspiciatis?</p>
    <a href="https://www.google.com" class="btn btn-primary"></a>
</div>